includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    paths:
        - app/
        - bootstrap/
        - config/
        - database/
        - routes/

    # Level 9 is the highest level
    level: 5

    ignoreErrors:
        - '#PHPDoc tag @var#'
        -
            message: '#Parameter \#1 \$state of method Illuminate\\Database\\Eloquent\\Factories\\Factory<App\\Models\\Team>::state\(\) expects array<string, mixed>|(callable(array<string, mixed>, Illuminate\\Database\\Eloquent\\Model|null): array<string, mixed>), Closure(array, App\\Models\\User): array{name: non-falsy-string, user_id: int, personal_team: true} given#'
            path: database/factories/UserFactory.php
        -
            message: '#Undefined variable: \$this#'
            path: routes/console.php

    excludePaths:
        - ./*/*/FileToBeExcluded.php
        - app/Filament/Resources/Shield/RoleResource.php
        - database/seeders/ShieldSeeder.php
        - .phpstorm.meta.php
        - _ide_helper.php

    scanFiles:
        - _ide_helper_models.php

    checkMissingIterableValueType: true

    reportUnmatchedIgnoredErrors: false
